*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

:root{
    --colormain:#3a6cf4;
    --tran:0.7s;
}

/* start header */
header{
    width: 100%;
    background-color:#f0f0f0 ;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
  
}
header .logo{
    text-decoration: none;
    color:var(--colormain);
    font-size: 1.8em;
    text-transform: uppercase;
    font-weight: bold;
    
}
.navecition a{
    text-decoration: none;
    color: var(--colormain);
    font-size: 1em;
    font-weight: 500;
    padding-left: 30px;
    text-transform: capitalize;
}
.navecition a:hover{
    color:#601cfc;
    transform: scale(1.1);
}
/* end header */

/* start main */
section{
    padding: 100px 200px ;
}
.main{
    width:100%;
    min-height:100vh;
    display: flex;
    align-items: center;
    background: url(../images/pexels-george-desipris-792381.jpg) no-repeat;
    background-size:cover;
    background-position: center;
    
}
.main h2{
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}
.main h2 span{
    color: #4e9eff;
    font-size: 3em;
    font-weight: 600;
    display: inline-block;
    margin-top: 10px;
}
.main h3{
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main-btn{
   text-decoration: none;
   background-color:var(--colormain);
   color: white;
   font-size: 1.1em;
   font-weight: 600;
   display: inline-block;
   padding: 0.9375em 2.1875em;
   border-radius: 15px;
   margin-bottom: 40px;
   transition: var(--tran) ease;

}
.main-btn:hover{
    background-color:#0a49f6;
    transform: scale(1.1);
}
.social-icons a{
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
    transition: var(--tran) ease;
}
.social-icons a:hover{
    color:#ed6427 ;
  
}

/* end main */

/* start services */

 .title{
    color:var(--colormain) ;
    display: flex;
    justify-content: center;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
 .content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    
    
}

.content .card{
    width: 21.25em;
    background-color: #fff;
    padding: 25px;
    box-shadow: 0 5px 25px  rgba(1, 1, 1, 15%);
    border-radius: 10px;
    transition: var(--tran) ease;
    margin: 15px;
}
.card:hover{
    transform: scale(1.1);
    box-shadow: 0 10px 25px  rgba(1, 1, 1, 15%);
}
.icon{
    color: var(--colormain);
    font-size: 8em;
    text-align: center;
}
.info{
    text-align: center;
}
.info h3{
    color: var(--colormain);
    font-size: 1.2em;
    font-weight: 700;
   margin: 10px;
}

/* end services */

/* start projects */
.projects{
    background-color: #000016;
}
.projects .content{
    margin-top: 30px;
}
.project-card{
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 20em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: var(--tran) ease;

}

.project-image img{
    width: 100%;
    transition: var(--tran) ease;
   
    
  }
  .project-image img:hover{
      transform: scale(1.1);
  }
.project-card:hover{
    transform: scale(1.1);

}


.project-card:hover .project-image{
    opacity: 0.9;
}

.projects-info{
    padding: 1em;
}

.project-category{
    font-size: 0.8em;
    color: #000;
}
.project-title{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 800;
}
.more-detalis{
    text-decoration: none;
    color: var(--colormain);
}
.more-detalis:hover{
    color: #601cfc;
}
/* end projects */

/* start contact */

.contact .icon {
    font-size: 4.5em;
  
}
.contact .info h3{
    color: #000;
}
.contact .info p{
    font-size: 1.5em;
}
/* end contact */



/* start footer */
.footer{
    background-color: #000016;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}
.footer-title{
    font-size: 1.3em;
    font-weight: 600;
}
.footer-title  span{
    color: var(--colormain);
}
.footer .social-icons a{
    font-size: 1.3em;
    padding: 0 12px 0 0;
}
.footer .social-icons a:hover{

    color: #ed6427;
}
/* end footer */



/* resposive */
@media(max-width:1023px){
    header{
        padding: 12px 20px;
    }
    .navecition a{
        padding-left: 10px;
    }
    .title{
        font-size: 1.8em;
    }
    section{
        padding: 80px 20px;
    }
    .main h2{
        font-size: 1em;
    }
    .main h3{
        font-size: 1.6em;
    }
    .content{
        
        align-items: center;
        flex-direction: column;
      
        
        
    }
}
@media(max-width:641px){
    body{
        font-size: 12px;
    }
    .main h2{
        font-size: 0.8em;
    }
    .main h3{
        font-size: 1.4em;
    }
    .footer-title{
        font-size: 0.8em;
    }
    .footer .social-icons a{
        font-size: 1em;
        padding: 0 12px 0 0;
    }
}
@media(max-width:300px){
    body{
        font-size: 10px;
    }
   
}